{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> BMI Tracker </header>
    <p> Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage you to keep going!</p>
  </div>
  <div class="column">
    <img class = "ui image" src="https://cdn.glitch.com/3b50c1d4-6ece-471a-b4d1-f7c4a5b13f51%2Fthumbnails%2Fabout.jpg?1597694679452">
  </div>
</section>


