{{> welcomemenu }}

<section class="ui center aligned middle aligned two column grid segment">
    <div class="column">
        <header class="ui header"> BMI Tracker </header>
        <p> Fill in your assessments week by week and track your BMI.
            Trainers will comment on your progress and encourage your to keep going!</p>
    </div>
    <div class="column">
      <img class = "ui image" src="https://cdn.glitch.com/7175afa9-007f-4a45-8adf-a817b66833af%2Fthumbnails%2Fabout.jpg?1598386332922">
    </div>
</section>
