{{> trainermenu id="trainerdashboard"}}

<section class="ui segment">
  {{> analytics}}
</section>
<section class="ui segment">
  {{> listgoalstrainer}}
  {{> addgoaltrainer}}
</section>
<section class="ui segment">
  {{> listtrainerassessments}}
</section>
