{{> trainermenu id="trainerdashboard"}}

<section class="ui segment">
  {{> analytics}}
</section>
<section class="ui segment">
  {{> listgoals}}
    {{> addgoal}}
  </section>
<section class="ui segment">
  {{> listtrainerassessments}}
</section>
